/*
   FLOATS
*/


.fl { float: left;  display: inline; }
.fr { float: right; display: inline; }
.fn { float: none; }

@media screen and (min-width: 48em) {
  .fl-s { float: left;  display: inline; }
  .fr-s { float: right; display: inline; }
  .fn-s { float: none; }
}

@media screen and (min-width:48em) and (max-width: 64em) {
  .fl-m { float: left;  display: inline; }
  .fr-m { float: right; display: inline; }
  .fn-m { float: none; }
}

@media screen and (min-width: 64em) {
  .fl-l { float: left;  display: inline; }
  .fr-l { float: right; display: inline; }
  .fn-l { float: none; }
}

